%header
  .container
    %h1.logo
    %img( src="/images/logo.png" )

.container
  .content
    %h2
      Rails寺子屋 x Kosenconfについて
    .about.clearfix
      %h3
        趣意書
      %p
        Rails寺子屋はWebアプリを作るための強力なツール"Ruby on Rails"を使ってWebアプリ作りを実践しながら学ぶイベントです。日頃からRailsを使って開発している師範（コーチ）と、ほかの参加者のみなさんと、一緒にWebアプリ作りをはじめてみませんか。
        %br
        本イベントはRails寺子屋と
        %a( href="http://kosenconf.jp/" )
          高専カンファレンス
        の合同イベントです。
      %h3
        第8回 開催情報
      %p 詳しくは以下イベントページを参照ください
      %a(href='https://rails-terakoya.connpass.com/event/88342/') 高専カンファレンス Ruby Hack Challenge - Rails寺子屋特別編 - connpass
      .right-box.clearfix
        %h4
          参加登録
        %p
          %a(href="https://rails-terakoya.connpass.com/event/88342/" target="_blank")
            %button.btn.submit-btn 参加登録フォームへ

    %h2
      過去の開催
    .archives
      %ul
        %li
          %a(href="/archives/1")
            Rails寺子屋 x kosenconf 第1回
        %li
          %a(href="/archives/2")
            Rails寺子屋 x kosenconf 第2回
        %li
          %a(href="/archives/3")
            Rails寺子屋 x kosenconf 第3回
        %li
          %a(href="/archives/4")
            Rails寺子屋 x kosenconf 第4回
        %li
          %a(href="/archives/5")
            Rails寺子屋 x kosenconf 第5回
        %li
          %a(href="/archives/6")
            Rails寺子屋 x kosenconf 第6回
        %li
          %a(href="/archives/7")
            Rails寺子屋 x kosenconf 第7回

    /%h2
    /  師範(コーチ)
    /.masters.clearfix
    /  - data.masters['7'].each do |master|
    /    .master
    /      .icon
    /        %img( src="#{master['image']}" width="75" class="shadow" )
    /      .name
    /        = "#{master['name']} @#{master['twitter']}"
    /      %ul.clearfix
    /        - unless master['twitter'].nil?
    /          %li
    /            %a( href="https://twitter.com/#{master['twitter']}" class="link" )
    /              %i.icon-twitter

    /        - unless master['facebook'].nil?
    /          %li
    /            %a( href="https://facebook.com/#{master['facebook']}" class="link" )
    /              %i.icon-facebook

    /        - unless master['github'].nil?
    /          %li
    /            %a( href="https://github.com/#{master['github']}" class="link" )
    /              %i.icon-github
    /        - unless master['web'].nil?
    /          %li
    /            %a( href="#{master['web']}" class="link" )
    /              %i.icon-home
    /      .description
    /        = master['description']
    %h2
      助っ人
    .collaborators.clearfix
      .calligrapher
        %span.role
          題字
        .icon
          %img( src="https://pbs.twimg.com/profile_images/3465466052/cbf96df11d49bf4a4af0a60e1fa6c565.png" width="75" class="shadow" )
        .name
          さいとうかずよし
        %ul.clearfix
          %li
            %a( href="http://twitter.com/kazuyoshi" class="link" )
              %i.icon-twitter
      .designer
        %span.role
          絵師
        .icon
          %img( src="https://pbs.twimg.com/profile_images/429648206129926145/YMcykICv.png" width="75" class="shadow" )
        .name
          あらなぎ
        %ul.clearfix
          %li
            %a( href="http://twitter.com/aranagi" class="link" )
              %i.icon-twitter

    %h2
      スポンサー
    .sponsors.clearfix
      .sponsor
        = image_tag "pixiv.png", class: 'logo-pixiv'
        = image_tag "cookpad.png", class: 'logo-cookpad'

    %h2
      よくある質問
    .faqs
      .question
        Q. 参加費はどのくらいかかりますか？
      .answer
        A. 無料です。申し込むときにはわくわくした気持ちだけあればいいです。
      .question
        Q. 当日までにやっておくと良いことはありますか？
      .answer
        A. 特にありません。当日、忘れ物をしないようにして下さい！
      .question
        Q. プログラミングの経験があります。手伝うことはできますか？
      .answer
        A. Rails寺子屋は師範になれる人を捜しています。いずれかの師範までご連絡ください。

  %footer
    %span
%script
  var lat = 35.631659;
  var lng = 139.713408;
